{% extends 'medicaments/med_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{% url 'accueil' %}">Home</a></li>
            <li role="presentation" class="disabled"><a href="#">Pharmacies</a></li>
            <li role="presentation" class="disabled"><a href="#">Individuals</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PharmaOnline</h3>
      </div>

      <div class="jumbotron">
        <h1>A solution to the Pharmacy Crisis.</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>The Pharmacy</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,<br> tortor mauris  condimentum nibh, ut fermentum massa justo <br> sit amet risus.</p>
          <a class="btn btn-primary" href="{% url 'accounts:new_pharmacy' %}">new pharmacy</a>
        </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>The Client</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,<br> tortor mauris  condimentum nibh, ut fermentum massa justo <br> sit amet risus.</p>
          <a class="btn btn-success" href="{% url 'accounts:inscription-normale' %}">New client</a>
        </div>
      </div>

</div> <!-- /container -->



{% endblock %}
