{% extends 'medicaments/med_base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<style>
.page-header{
  color: red;
}
</style>

    {% if query %}
    <div class='alert alert-info' role='alert'>
      <h3> Your Results </h3>
    </div>

      {% for result in page.object_list %}

        {% if result.verbose_name == 'Medicament' %}
        <div class="media">
          <div class="media-left">
            <a href="{{ result.object.get_absolute_url }}">
              <img class="media-object" src="" alt="">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading" href="{{ result.object.get_absolute_url }}">{{ result.object.commercial }}</h2>
            <p> {{ result.object.generique }} </p>
            <p> {{ result.object.generique }} </p>
          </div>
        </div>


        {% elif result.verbose_name == 'Compagnie' %}
          <h4> <a href="{{ result.object.get_absolute_url }}">{{ result.object.nom }}:</a></h4>
            <p>{{ result.object.pays }}</p>

        {% elif result.verbose_name == 'Famille' %}
          <h4> <a href="{{ result.object.get_absolute_url }}">{{ result.object.nom }}:</a></h4>
            <p>{{ result.object.description }}</p>


        {% endif %}

          </div>
        </div>

      {% empty %}
        <p> Aucun Resultat. </p>

      {% endfor %}

    {% endif %}


{% endblock %}
