{% extends 'medicaments/med_base.html' %}
{% load crispy_forms_tags %}



{% block content %}


    {% if query %}
      <div class="page-header">
        <h3> Resultats </h3>
      </div>

      {% for result in page.object_list %}


        <div class='media'>
          <div class="media-left">
        {% if result.verbose_name == 'Medicament' %}

            <a href="{{ result.object.get_absolute_url }}">{{ result.object.commercial }}:</a>
              <img class="mdeia-object" src=""/>
            <div class="media-body">
              <p>{{ result.object.generique }}</p>
              <p>{{ result.object.description }}</p>
            </div>

        {% elif result.verbose_name == 'Compagnie' %}
          <h4> <a href="{{ result.object.get_absolute_url }}">{{ result.object.nom }}:</a></h4>
            <p>{{ result.object.pays }}</p>

        {% elif result.verbose_name == 'Famille' %}
          <h4> <a href="{{ result.object.get_absolute_url }}">{{ result.object.nom }}:</a></h4>
            <p>{{ result.object.description }}</p>


        {% endif %}

          </div>
        </div>

      {% empty %}
        <p> Aucun Resultat. </p>

      {% endfor %}

    {% endif %}


{% endblock %}
