{% extends 'medicaments/med_base.html' %}


{% block content %}
  {% for medicament in object_list %}
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="#" alt="#">
        <div class="caption">
          <ul class="list-group">
            <a href="{{medicament.object.get_absolute_url}}">{{medicament.nom}}
            <li class="list-group-item">{{ medicament.commercial }} </li>
            <li class="list-group-item">{{ medicament.generique }}</li>
  {% empty %}
            <li class="list-group-item">Aucun Medicament</li>

          </ul>
          <a class="btn btn-primary" href="#" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Pharmacie</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
