<!DOCTYPE html>
<html lang="fr">
{% load staticfiles %}


  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Henri E. Francois" />
    <title>PharmaOnline | Bienvenue </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/freelancer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

  </head>


  <body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-to-top">
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PharmaOnline</a>
        </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--<li><a href="#">Carte</a></li>-->
              <li><a href="{% url 'produits' %}">Medicaments</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method='GET' action="{% url 'haystack_search' %}">
              <div class="form-group">
                <input class="form-control" type="text" name='q' placeholder="Rechercher">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <!--li><a href="#">Link</a></li>-->
              {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="text-center"><a href="{% url 'creation' %}">Ajouter des Medicaments</a></li>
                  <li class="text-center"><a href="{% url 'modifier' %}">Modifier les Medicaments</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="text-center"><a href="https://medoc.herokuapp.com">Aller a MeDOC</a></li>
                  <li class="text-center"><a href="{% url 'logout' %}">Se deconnecter</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="{% url 'login' %}">S'identifier</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      {% block content %}
      {% endblock %}

      <!-- Footer -->
<!--      <footer class="footer text-center">
          <div class="footer-above">
              <div class="container">
                  <div class="row">
                      <div class="footer-col col-md-4">
                          <h3>Retrouvez-nous</h3>
                          <p>Institution Saint-Louis de Gonzague , Delmas 31-33</p>
                      </div>
                      <div class="footer-col col-md-4">
                          <h3>Autour du Web</h3>
                          <ul class="list-inline">
                              <li>
                                  <a href="https://www.facebook.com/pharmaon" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="htpps://www.twitter.com" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="footer-col col-md-4">
                          <h3>A propos de P.O.</h3>
                          <p>Commentaires? Envoyez-nous un mail: exemple@gmail.com </p>
                          <p>Ou essayez par notre <a href="#">Page de Contact</a> </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-below">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          Copyright &copy; PharmaOnline 2016
                      </div>
                  </div>
              </div>
          </div>
      </footer> -->
      <div class="scroll-top page-scroll visible-xs visible-sm">
          <a class="btn btn-primary" href="#page-top">
              <i class="fa fa-chevron-up"></i>
          </a>
      </div>
  </body>


      <!-- jQuery -->
      <script src="{% static 'js/jquery.js' %}"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
