{% extends 'medicaments/med_base.html' %}



{% block content %}
		<div class="panel panel-default">
			<div class="panel-heading">Medicaments</div>
			<div class="panel-body">
			</div>
			<table class="table">
				<tr>
					<th> Nom Generique </th>
					<th> Derniere m.a.j </th>
					<th> pharmacie </th>
				</tr>
				{% for medicament in queryset %}
					<tr>
				  	<td>{{forloop.counter}}-<a href="{{ medicament.get_absolute_url }}">{{medicament.generique}}</a></td>
				  	<td>{{medicament.verified|timesince}} ago</td>
						<td>{{medicament.user}}</td>
			  	</tr>
				{% empty %}
					<tr>
						<td> Rien </td>
						<td> Rien </td>
						<td> Rien </td>
					</tr>
				{% endfor %}
			</table>
		</div>

{% endblock %}
